<ul>
  <li>
    <a [routerLink]="['/simple']">Simple Form</a>
  </li>
  <li>
    <a [routerLink]="['/auto-complete']">Auto Complete</a>
  </li>
  <li>
    <a [routerLink]="['/checkbox']">Checkbox</a>
  </li>
  <li>
    <a [routerLink]="['/input']">Input</a>
  </li>
  <li>
    <a [routerLink]="['/radio']">Radio</a>
  </li>
  <li>
    <a [routerLink]="['/select']">Select</a>
  </li>
  <li>
    <a [routerLink]="['/slider']">Slider</a>
  </li>
  <li>
    <a [routerLink]="['/slide-toggle']">Slide Toggle</a>
  </li>
  <li>
    <a [routerLink]="['/menu']">Menu</a>
  </li>
  <li>
    <a [routerLink]="['/sidenav']">Sidenav</a>
  </li>
  <li>
    <a [routerLink]="['/toolbar']">Toolbar</a>
  </li>
  <li>
    <a [routerLink]="['/list']">List</a>
  </li>
  <li>
    <a [routerLink]="['/grid-list']">Grid List</a>
  </li>
  <li>
    <a [routerLink]="['/card']">Card</a>
  </li>
  <li>
    <a [routerLink]="['/tabs']">Tabs</a>
  </li>
  <li>
    <a [routerLink]="['/button']">Button</a>
  </li>
  <li>
    <a [routerLink]="['/button-toggle']">Button Toggle</a>
  </li>
  <li>
    <a [routerLink]="['/chips']">Chips</a>
  </li>
  <li>
    <a [routerLink]="['/svg']">Svg</a>
  </li>
  <li>
    <a [routerLink]="['/progress-spinner']">Progress Spinner</a>
  </li>
  <li>
    <a [routerLink]="['/progress-bar']">Progress Bar</a>
  </li>
</ul>
<router-outlet></router-outlet>